.cartpage-images {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.cart-info {
  background: #def1f0;
  color: #0b3937;
  font-size: 20px;
  line-height: 1;
  padding: 10px 40px 10px 40px;
  border-radius: 16px;
  box-shadow: 1px 1px 4px 1px rgb(255, 255, 255);
}
.cart-header {
  margin-left: 300px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.cart-itemone {
  margin-right: 20px;
  margin-top: 50px;
}
.cartpage-wares {
  list-style: none;

  display: flex;
  justify-content: space-between;
}
.cartpage-images {
  width: 200px;

  height: auto;
  border: 1px solid #0b3937;
  border-radius: 20px;
}
